@import './mixin'
@import './common'
@import './video'

@import './loc_nav'

body
  margin 0
  padding 0
  
  .content
    position relative
    z-index 1
  
  .hide
    display none
    
  #map
    position absolute
    top 0
    bottom 0
    width 100%
    z-index 0

  nav
    @extend .ul
    top 0
    z-index 1
    
    li
      @extend .li
      
