

.loc-nav
  
  ul
    @extend .navigation
    bottom 0
    
    li
      display inline-block
      width 20px
      height 20px
      background-color red
      border-radius 10px
      cursor pointer