node_modules/
.DS_Store
public/application.js
public/application.css
public/tiles/
*.ogv
*.mp4
*.mov
*.m4v
*.webm
*.zip
*.tif
*.hdr
*.tfw
data/srtm_13_06/
data/srtm_14_06/
data/srtm_14_07/
data/srtm_15_06/
data/srtm_16_06/
data/srtm_16_07/
data/srtm_13_05/
data/srtm_13_07/
data/srtm_15_07/
data/srtm_17_06/
data/srtm_17_07/